/* Style by Tobias Årud, some edits to basic foundation classes will be here aswell */
body{
    background: url('../img/bg_stage.jpg') fixed;
    background-size: cover;
}

.full-width{
    background-color: red;
    color:white;
}

header > div.row, footer > div.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

main p, footer p{
    margin-bottom: 0;
}

footer a, footer .menu > li > a{
    color: white;
    text-decoration: underline;
    text-decoration-style: dashed;
}

footer a:hover, footer .menu > li > a:hover{
    color: #ffeb00;
    text-decoration: underline;
    text-decoration-style: dashed;  
}

main{
    display: flex;
    justify-content: center;
}

.menu > .active > a{
    background: black;
}

.button{
    background: black;
}

.button.hollow{
    border-color: white;
    color: white;
}

.button.hollow:hover{
    border-color: #ffeb00;
    color: #ffeb00;
}

#chart .row{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-order{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    line-height: 0;
    padding: 50% 0;
    border-radius: 50%;
    background: #2199e8;
    color: #fefefe;
    text-align: center;
    font-size: 2em;
}

ul.row{
    list-style: none;
}

ul.row ul{
    list-style: none;
}

i{
    font-size: 3em;
}

#loading{
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.row img{
    margin: -15px 0;
    border-radius: 5px;
    border: 1px #000 solid;
}